_name_: dss
d_state: 64
bidirectional: false
activation: gelu
postact: null
hyper_act: null
dropout: ${..dropout} # Same as null
dt_min: 0.001
dt_max: 0.1
trainable:
    log_dt: true
    Lambda: true
    W: true
lr:
    log_dt: 0.001
    Lambda: 0.001
    W: 0.001
sep_dt_re_im: true
max_kernel_length: null
Lambda_init: hippo_skew_pos_imag
version: softmax
max_real_Lambda: 0.0001
l_max: ${oc.select:dataset.__l_max,1} # Grab dataset length if exists, otherwise set to 1 and kernel will automatically resize
verbose: false
